@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700&family=Oswald&family=Roboto:ital,wght@0,400;1,700&display=swap');

body {
  font-family: "Noto Serif Display";
}

header  {
  background-color:#8a7e7d;
  top: 0;
  left: 0;
}

#logo {
  display: inline-block;
}

.nav-justified {
  display: inline-block;
  width: 100%;
}

#call-to-action {
  font-weight: 700;
  color: #453f3e;
  display: inline-block;
}

#call-to-action:hover {
  color: #dbd0d0;
}

